@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Welcome</h1>
    <p>See the <a asp-controller="Medicine" asp-action="Medicines">Medicine List</a> for Neel Jose Binu(8865742)</p>
</div>
